leelaz
*.o
*.d
.vscode/settings.json
training/tf/leelalogs
training/tf/checkpoint
training/tf/venv
leelaz-model*
*.orig
leelaz_opencl_tuning
/build-autogtp-*
/build-validation-*
.vs/
build/
/build-opencl/
/build-debug/
/build-asan/
/data/
/logs/
.DS_Store
/build-dist/
