bleach==6.4.0
enum34==1.1.6
futures==3.1.1
html5lib==0.999999999
Markdown==3.8.1
numpy==1.22.0
protobuf==5.29.6
scipy==1.0.0
six==1.11.0
tensorflow>=1.12.1
tensorflow-tensorboard==0.4.0rc2
Werkzeug==3.1.6
